In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('spam.csv')
data = data.copy()
data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
data.describe().T

          count unique                     top  freq
Label      5572      2                     ham  4825
EmailText  5572   5169  Sorry, I'll call later    30

In [4]:
data.shape

(5572, 2)

In [5]:
d_mdf = data["EmailText"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [6]:
d_mdf = d_mdf.str.replace("[^\w\s]" , "")

<ipython-input-6-b3430659b3d9>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("[^\w\s]" , "")

In [7]:
d_mdf.head()

0    go until jurong point crazy available only in ...
1                              ok lar joking wif u oni
2    free entry in 2 a wkly comp to win fa cup fina...
3          u dun say so early hor u c already then say
4    nah i dont think he goes to usf he lives aroun...
Name: EmailText, dtype: object

In [8]:
d_mdf = d_mdf.str.replace("\d" , "")

<ipython-input-8-fba550bc535d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("\d" , "")

In [9]:
d_mdf = pd.DataFrame(d_mdf , columns = ["EmailText"])

In [10]:
d_mdf.head()

                                           EmailText
0  go until jurong point crazy available only in ...
1                            ok lar joking wif u oni
2  free entry in  a wkly comp to win fa cup final...
3        u dun say so early hor u c already then say
4  nah i dont think he goes to usf he lives aroun...

In [11]:
import nltk

In [12]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to C:\Users\Mehmet
[nltk_data]     DELİOĞLU\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
from nltk.corpus import stopwords

In [14]:
sw = stopwords.words("english")
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [15]:
d_mdf = d_mdf["EmailText"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [16]:
d_mdf.head()

0    go jurong point crazy available bugis n great ...
1                              ok lar joking wif u oni
2    free entry wkly comp win fa cup final tkts st ...
3                  u dun say early hor u c already say
4          nah dont think goes usf lives around though
Name: EmailText, dtype: object

In [17]:
d_mdf = pd.DataFrame(d_mdf , columns = ["EmailText"])

In [18]:
d_mdf.head()

                                           EmailText
0  go jurong point crazy available bugis n great ...
1                            ok lar joking wif u oni
2  free entry wkly comp win fa cup final tkts st ...
3                u dun say early hor u c already say
4        nah dont think goes usf lives around though

In [19]:
data['emailtext'] = d_mdf

In [20]:
data.head()

,Label,EmailText,emailtext
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win fa cup final tkts st ...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think goes usf lives around though

In [21]:
df = data.drop('EmailText' , axis=1)

In [22]:
df.head()

  Label                                          emailtext
0   ham  go jurong point crazy available bugis n great ...
1   ham                            ok lar joking wif u oni
2  spam  free entry wkly comp win fa cup final tkts st ...
3   ham                u dun say early hor u c already say
4   ham        nah dont think goes usf lives around though

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB , MultinomialNB
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [25]:
x = df['emailtext']
y = df['Label']

In [26]:
x_train , y_train = x[0:4457] , y[0:4457]
x_test  , y_test  = x[4457:]  , y[4457:]

In [27]:
cv = CountVectorizer()
features = cv.fit_transform(x_train)

In [28]:
model = svm.SVC()
model.fit(features , y_train)

SVC()

In [29]:
features_test = cv.transform(x_test)

In [30]:
print('Accuracy of model is: ' , model.score(features_test , y_test))

Accuracy of model is:  0.9775784753363229

In [31]:
tuned_parameters = {'kernel' : ['linear' , 'rbf'] , 'gamma' : [1e-3,1e-4] , 'C':[1,10,100,1000]}

model = GridSearchCV(svm.SVC() , tuned_parameters)
model.fit(features , y_train)

print(model.best_params_)

features_test = cv.transform(x_test)
print('Accuracy of model is: ' , model.score(features_test , y_test))

{'C': 1000, 'gamma': 0.001, 'kernel': 'rbf'}
Accuracy of model is:  0.97847533632287